.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}
.basePage {
  background: #f2edde;
}
.bottonPosition {
  background-position: bottom center;
}

.animation_layer {
  background-position: bottom center;
  /* background-size: auto 1038px; */
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
}
.animation_layer.parallax {
  position: fixed;
}

.animation_layer.item {
  background-repeat: repeat-x;
  background-position: center center;
}
#artback {
  background-image: url(./images/backdesk02.png);
  background-size: contain;
}

#jungle1 {
  background-image: url(./images/block01.png);
  background-size: contain;
}

#jungle2 {
  background-image: url(./images/block02.png);
  background-size: contain;
}

#jungle3 {
  background-image: url(./images/block03.png);
  background-size: contain;
}

#jungle4 {
  background-image: url(./images/block04.png);
  background-size: contain;
}

#jungle5 {
  background-image: url(./images/block05.png);
  background-size: contain;
}
